body {
    margin: 0;
    overflow: hidden;
    font-family: 'Arial', sans-serif;
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 90vh; /* Ensure the container takes at least the full viewport height */
}

header {
    text-align: center;
    padding: 20px;
    background-color: #e4b492;
    border-bottom: 3px solid #ccc;
}

.container {
    display: flex;
    flex: 1;
}

.sidebar {
    flex: 1;
    background-color: #e7c289;
    padding: 20px;
}

.content {
    flex: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

img {
    max-width: 80vw;
    max-height: 80vh;
    width: auto;
    height: auto;
    object-fit: contain;
    display: block;
    margin: 0 auto;
    border: 2px solid #ccc; /* Border for the image */
}

.triangle {
    position: absolute;
    width: 0;
    height: 0;
    cursor: pointer;
}

.triangle1 {
    top: 20.5%;
    left: 19.5%;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid rgb(177, 252, 177);
}

.triangle2 {
    top: 43.5%;
    right: 20%;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid rgb(177, 252, 177);
}

.triangle3 {
    top: 48.2%;
    left: 15%;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid rgb(177, 252, 177);
}

.triangle4 {
    top: 34%;
    left: 30.9%;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid rgb(177, 252, 177);
}

.sidebar-right {
    flex: 1;
    background-color: #e7c289;
    padding: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    margin-top: auto; 
}


