body {
    margin: 0;
    overflow: hidden;
    position: relative;
}

h1 {
    text-align: center;
}

img {
    max-width: 80vw;
    max-height: 80vh;
    width: auto;
    height: auto;
    object-fit: contain;
    display: block;
    margin: 0 auto;
}

.triangle {
    position: absolute;
    width: 0;
    height: 0;
    cursor: pointer;
}

.triangle1 {
    top: 17%;
    left: 17%;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid rgb(151, 255, 151);
}

.triangle2 {
    top: 44%;
    right: 18%;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid rgb(151, 255, 151);
}

.triangle3 {
    top: 49%;
    left: 13%;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid rgb(151, 255, 151);
}

.triangle4 {
    top: 33%;
    left: 29.5%;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid rgb(151, 255, 151);
}
